<h1> Garbage new </h1>

<%= link_to "Back", garbages_path, :class=>"btn btn-primary"%>
<%= form_for @garbage, :url=>garbages_path do |f| %>
	<%= render :partial=>'form', :locals=>{:f=>f} %>
<% end %>

