<h1>Garbages#show</h1>
<%= link_to "back",garbages_path,:class=>"btn btn-primary"%>
<table class="table">
	<tr><td>name			</td><td><%=@garbage.name %></td></tr>
	<tr><td>description</td><td><%= @garbage.description %></td>
</table>


